{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
     "root": ["./src"],
     "alias": {
       "native": "./native",
       "shared": "./shared"
     }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
